*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 500px;
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 100px;
    width: 300px;
    background-color: #9fcae0;
}
.padding{
    padding: 50px;
    background-color: #459fc7;
    border: 50px solid #e5a685;
    margin: 50px;
}
.margin{
    background-color: #d15b19;
}