body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #E65100;
    text-align: center;
}

.box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 30px;
}

.content {
    width: 450px;
    height: 200px;
    background-color: #81D4FA;
}

.padding {
    width: 650px;
    height: 400px;
    background-color: #29B6F6;
}

.border {
    width: 850px;
    height: 550px;
    background-color: #FFAB91;
}

.margin {
    width: 500px;
    height: 400px;
    background-color: #E65100;
}