*{
    padding: 0;
    margin: 0;
    }
body{
        background-color: beige;
}
.container{
    width: 950px;
    background-color: silver;
    margin: 0 auto;
    padding: 20px;
}
.green {
    height: 150px;
    background-color: green;
    margin-bottom: 20px;
}
.blue {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 10px;
}
.red {
    height: 400px;
    width: 700px;
    background-color: red;
    margin: 10px;
    padding: 10px;
}
.yellow {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 7px;
}
#purple {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 10px;
}
.row {
    display: flex;
}    