body {
    display: flex;
    justify-content: left;
    height: 1px;
    margin: 55px 70px;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column ;
    align-items: start;
}

.search-container, .mas-button-container, .create-account {
    margin-bottom: 20px;
}

.search-button {
    background-color: white;
    border: 2px solid #20c997;
    color: #20c997;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.mas-button {
    background-color: #20c997;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}

.create-account {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 5px 5px #000;
}