/*
* {
    outline: solid black 1px;
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-links a, .nav-links2 button {
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;
}

.nav-links, .nav-links2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.logo {
    width: 100%;
    max-width: 190px;
}

.ubicacion {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.combos img {
    width: 100%;
}

.nav-links2 button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
    color: #000;
}

#perfil {
    width: 30px; 
    height: 30px;
    margin-bottom: 5px;
}

#cupon {
    width: 40px;
    height: 33px;
    margin-bottom: 1px;
}

#icon {
    width: 60px;
    height: 60px;
}

#ingresar {
    background-color: #333; 
    color: #fff;
    padding: 10px 20px; 
    border: none;
    border-radius: 20px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.ubicacion button {
    background-color: #333;
    color: #fff; 
    font-size: 14px;
    font: inherit;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
}

.ubicacion {
    height: auto; /* Ajuste automático de altura */
    justify-content: left;
}

.nav-links2 input {
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 8px 15px;
    width: 100%;
    max-width: 200px;
}

.menu, .menu2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu img, .menu2 img {
    width: 100%;
    max-width: 200px;
    padding: 10px;
}

.menu button, .menu2 button {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1 1 150px;
}

.menu button:hover, .menu2 button:hover {
    transform: scale(1.1);
}

.btn-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-menu button {
    margin-top: 20px;
    background-color: #fa0000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.text-menu {
    margin-left: 21px;
}