/
* {
    outline: solid black 1px;
}
*/

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    display: flex;
    justify-content: space-around;
}

.nav-links a, .nav-links2 button {
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;
}

.nav-links, .nav-links2 {
    display: flex;
    align-items: center;
}

.nav-links2 button.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
}

#pedir{
    color: red;
}

ul{
    list-style: none;
}

.logo{
    width: 190px;
}

.ubicacion{
    background-color: #333;
}

.combos img{
    width: 100%;
}

.nav-links2 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
    color: #000;
}