/* Estilos de Página de viajes
*{
    outline: solid black;
}
*/
body{ /* Seleción de body */
font-family:Arial, sans-serif ; /* Cambia tipografía */
margin: 0; /* Elimina todo el margen por predefinido */
padding: 0; /* Elimina todo el relleno de los elementos */
}
/* Acá viene el estilo de una clase container */
.container{
    width: 80%; /* Establece el ancho del contenedor en un 80% */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
}
/* Estilo de encabezado */
header{
    background-color: #333; /* establece el color del fondo */
    color: #fff; /*establece el color del texto */
    padding: 20px 0 ; /*añade relleno en la parte inferior y superior */
}
header h1{
    margin: 0; /* elimina el margen por defecto  del título */
}
/* Estilo de elemento de lista(li) */
nav ul li{
    display: inline; /* Alinea los elementos */
    margin-right: 20px; /*margen hacia la derecha */
}
/* Estilo a elemntos de vinculo ancla(a) de navegación */
nav ul li a{
    color: #fff; /* color a elemento Anchor */
    text-decoration: none; /* quita sabrayado de enlace */
}
section {
    padding: 40px; /* Añade relleno superior e inferior */
}
#banner{
    background-image: url('https://via.placeholder.com/1500x500'); /* Establece la imagen de fondo del banner */
    background-size: cover; /* Ajusta la imagen al área del banner */
    color: #fff; /* Establece el color del texto */ 
    text-align: center; /* Centra el texto del banner */
    padding: 100px; /* Añade relleno superior e inferior */
}
#banner h2{ 
    font-size: 36px; /*Establece tamaño de h2 */
}
#banner p{
    font-size: 18px; /* Establece tamaño de p */
    margin-bottom: 20px; /* Define el margen inferior */
}
.btn{
    background-color: #007bff; /* Color fondo de boton */
    color: #fff; /* Color letra de boton */
    padding: 10px 20px; /* Relleno de boton */
    text-decoration: none; /* quita subrayado */
}
/* Estilo caundo pasa mouse sobre el boton */
.btn:hover{
    background-color: #0056b3;
}

.destinos-container{
    display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: space-between; /* Distribuye uniformemente los elementos */
    flex: wrap; /* Si los elementos no caben en la misma linea, crea una nueva linea con estos elementos extra */
}
.destinos{
    width: calc(33.33%-20px); /* Establece el ancho de cada destino menos el espacio entre los destinos */
    margin-bottom: 20px; /* Define el margen inferior */
    text-align: center; /* Centra el texto */
}
.destinos img{
    width: 100%; /* Establece el ancho de la imagen ajustandola al elemento que la contiene */
    border-radius: 8px; /* Redondea las puntas */
    text-align: center;
}
.destinos h3{
    margin-top: 10px; /* Agrega margen superior entre imagen y h3 */
}
.destinos p{
    margin-top: 10px; /* Agrega margen superior entre imagen y p */
}
footer{
    background-color: #333; /* Color del fondo de footer */
    color: #fff; /* Color de texto de footer */
    text-align: center; /* Centra el texto */
    padding: 20px 0; /* Añade relleno superior e inferior */
}
#banner-Arriendo{
    background-image: url('https://images.unsplash.com/photo-1544143086-828f66ac3945?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Establece la imagen de fondo del banner */
    background-size: cover; /* Ajusta la imagen al área del banner */
    color: #271f1f; /* Establece el color del texto */ 
    text-align: center; /* Centra el texto del banner */
    padding: 340px; /* Añade relleno superior e inferior */
}
/* Aqui va el estilo del formulario de contacto */
#contacto{
    padding: 40px;
}
#contacto .container{
    text-align: center;
}
#contacto h2{
    margin-bottom: 20px;
}
#contacto form{
    max-width: 500px ; /* Establece el ancho maximo del elemento */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 20px;
    background-color: rgb(228, 177, 136);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 1); /* Establece una sombra alrededor del formulario */
}
#contacto label{
    display: block; /* Etiquetas en bloques */
    margin-bottom: 10px;
    font-weight: bold; /* Fuente en negrita */
}
#contacto input, #contacto textarea{
    resize: vertical; /* Permite redimencionar el area del texto, pero verticalmente */
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box; /* Incluye el padding y el borde del ancho dentro del elemento que lo contiene */
}
.destinos-container2{
    display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: space-between; /* Distribuye uniformemente los elementos */
    flex: wrap; /* Si los elementos no caben en la misma linea, crea una nueva linea con estos elementos extra */
}
.destinos-container3{
    display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: space-between; /* Distribuye uniformemente los elementos */
    flex: wrap; /* Si los elementos no caben en la misma linea, crea una nueva linea con estos elementos extra */
}
#banner-destinos{
    background-image: url('../img/vuelo.jpg'); /* Establece la imagen de fondo del banner */
    background-size: cover; /* Ajusta la imagen al área del banner */
    color: #fff; /* Establece el color del texto */ 
    text-align: center; /* Centra el texto del banner */
    padding: 100px; /* Añade relleno superior e inferior */
}
#banner-destinos h2{ 
    font-size: 36px; /*Establece tamaño de h2 */
}
#banner-destinos p{
    font-size: 18px; /* Establece tamaño de p */
    margin-bottom: 20px; /* Define el margen inferior */
}
#banner-hoteles{
    background-image: url('https://thevisionary.finamex.com.mx/hubfs/hotelesdesise%C3%B1o.png'); /* Establece la imagen de fondo del banner */
    background-size: cover; /* Ajusta la imagen al área del banner */
    color: #ffffff; /* Establece el color del texto */ 
    text-align: center; /* Centra el texto del banner */
    padding: 134px; /* Añade relleno superior e inferior */
}
.hoteles-container{
    display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: space-between; /* Distribuye uniformemente los elementos */
    flex: wrap; /* Si los elementos no caben en la misma linea, crea una nueva linea con estos elementos extra */
}
.hoteles-container2{
    display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: space-between; /* Distribuye uniformemente los elementos */
    flex: wrap; /* Si los elementos no caben en la misma linea, crea una nueva linea con estos elementos extra */
}