/* Estilos de Página de viajes */
*{
    outline: solid black;
}

body{ /* Seleción de body */
font-family:Arial, sans-serif ; /* Cambia tipografía */
margin: 0; /* Elimina todo el margen por predefinido */
padding: 0; /* Elimina todo el relleno de los elementos */
}
/* Acá viene el estilo de una clase container */
.container{
    width: 80%; /* Establece el ancho del contenedor en un 80% */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
}